<header id="header" class="main-header">
    <div class="logo"><a class="main-title" href="/">Stream <span>Fidio</span></a></div>
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <% if (!isAuthenticated) { %>
            <li class="main-header__item">
                <a class="" href="/login">Log In</a>
            </li>
            <li class="main-header__item">
                <a class="" href="signup">Sign Up</a>
            </li>
            <% } else { %>
            <li class="main-header__item">
                <a href="/dashboard" class="">My Media</a>
            </li>
                <% if(isSuper){%>
                    <li class="main-header__item">
                        <a href="/reports"  class="">Reports</a>
                    </li>
                <% } %>
            <li class="main-header__item">
                <!-- <a class="" href="/login">Login</a> -->
                <form class="logout" action="/logout" method="post">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button class="logout-btn btn-link" type="submit">Logout</button>
                </form>
            </li>
            <% } %>
        </ul>
    </nav>
</header>

<% if (errorMsg) { %>
<div id="error-close" class="alert <%= alertType %>">    
    <% if (Array.isArray(errorMsg)) { %>
        <ul style="list-style: none; font-weight: 800;">
            <% errorMsg.forEach(function(err) { %>
                <li> <%= err.msg %></li>
            <% }); %> 
        </ul>
        <% } else { %>            
            <h3><%= errorMsg %></h3>
    <% } %>
    <a onclick="errorFade()" id="close">&times;</a>
</div>
<% } %>