<header class="main-header">
    <a class="main-title" href="/">Stream <span>Fidio</span></a>
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item">
                <a class="" href="#">Log In</a>
            </li>
            <li class="main-header__item">
                <a class="" href="#">Sign Up</a>
            </li>
            <li class="main-header__item">
                <a class="" href="#">Privacy & Terms</a>
            </li>
        </ul>
    </nav>
</header>