@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", Cambria, "Times New Roman";
}

.main-header {
  width: 100%;
  /* background-color: #8d5699; */
  padding: 1.3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  box-shadow: 3px 3px 5px 6px #ccc;
}

.main-title {
  text-decoration: none;
  color: #8d5699;
  font-weight: 900;
  font-size: x-large;
  text-transform: uppercase;
  text-decoration: underline;
  padding-bottom: 8px;
  background: radial-gradient(
        circle closest-side,
        currentColor 80%,
        transparent
      ) -12px 100% /12px 12px no-repeat,
    linear-gradient(currentColor 0 0) bottom left / var(--d, 0) 12px no-repeat;
  transition: 0.3s linear;
  width: max-content;
}


.main-title:hover {
  --d: 50%;
  background-position: 50% 100%, bottom left;
}

.main-title span {
  border: 3px solid #8d5699;
  padding: 0.3rem;
  border-radius: 0.5rem;
}

.logo{
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 480px) {
  .main-header{
    flex-direction: column;
  }
  .main-title {
    font-size: large;
    text-align: center;
  }
  .main-header__nav{
    flex-direction: column;
    text-align: center;
    margin-top: 4px;
    border-top: #8d5699 1px solid;
  }
  .main-header__item-list {
    flex-direction: column;
  }
  .logout{
    padding-top: 0.2rem;
  }
  
  .logout-btn{
    margin-right: 1.625rem;
  }
  .logout-btn::before{
    position: relative;
    top: -13px;
    right: -38px;
  }
}

.main-header__nav {
  /* 
    height: 100%;
    width: 100%;
  */
  display: flex;
}

.main-header__item-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.main-header__item {
  margin: 0 1rem;
  padding: 0;
  font-size: larger;
}

.main-header__item a {
  text-decoration: none;
  /* color: #e9c2ba; */
  color: #00695c;
  font-weight: 800;
}

.main-header__item a:hover,
.main-header__item a:focus,
.main-header__item a:active,
.main-header__item a.active {
  color: #8d5699;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 8rem;
}

.sharing__subtitle {
  /* text-decoration: underline; */
  /* border-bottom: 0.3rem solid #3f343f; */
  font-weight: bold;
  background: linear-gradient(currentColor 0 0) 100% 100% / var(--d, 0) 3px
    no-repeat;
  transition: 0.5s;
}

.sharing__subtitle:hover {
  --d: 100%;
}

.sharing form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.sharing__input {
  padding: 1rem;
}

.sharing__btn {
  background-color: #8d5699;
  text-decoration: none;
  padding: 1rem;
  color: #fff;
  border: 1px solid #00695c;
  font-size: x-large;
  border-radius: 5px;
}

.sharing__btn:hover,
.sharing__btn:focus {
  background-color: #fff;
  /* color: #8e9b8766; */
  border: 2px solid #00695c;
  color: #8d5699;
  cursor: pointer;
}

/* error alerts */

@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");

.alert h3 {
  font-family: Quicksand;
}
.alert {
  width: 50%;
  margin: 20px auto 0 auto;
  padding: 3px 3px 3px 15px;
  position: relative;
  border-radius: 5px;
  box-shadow: 0 0 15px 5px #ccc;
}
#close {
  position: absolute;
  width: 30px;
  height: 30px;
  opacity: 0.5;
  border-width: 1px;
  border-style: solid;
  border-radius: 50%;
  right: 15px;
  top: 15px;
  text-align: center;
  font-size: 1.6em;
  cursor: pointer;
  line-height: 30px;
}

.simple-alert {
  background-color: #ebebeb;
  border-left: 5px solid #6c6c6c;
}

.success-alert {
  background-color: #a8f0c6;
  border-left: 5px solid #178344;
}

.danger-alert {
  background-color: #f7a7a3;
  border-left: 5px solid #8f130c;
  color: #fff;
}

.warning-alert {
  background-color: #ffd48a;
  border-left: 5px solid #8a5700;
}

/* Not Found Page */
.not-found {
  display: flex;
  justify-content: center;
  padding-top: 5rem;
  color: #8d5699;
}

/* Styles for the /report page */
.card {
  display: flex;
  flex-direction: column;
  width: 45rem;
  box-shadow: 0px 3px 5px #ccc;
  border-radius: 5px;
  padding: 0.75rem;
  /* margin-bottom: 12rem; */
  margin-bottom: 5rem;
}

@media screen and (max-width: 480px) {
  .card{
    width: auto;
  }
}

.card h2 {
  margin-bottom: 0;
}
.card p {
  margin: 0;
}

.card input,
textarea {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 12px;
}

:focus-visible {
  outline: #8d5699 auto 1px;
}

.form-group {
  margin: 1.5rem 0.75rem 0 0.75rem;
}

.form-group label {
  font-weight: 800;
  float: left;
}

/* Buttons classes */
.btn {
  background-color: #8d5699;
  padding: 0.75rem 1.25rem;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 800;
  margin-top: 0.5rem;
}

.btn:hover,
.btn:focus {
  border: 1px solid #00695c;
  color: #00695c;
  background-color: white;
}

.btn-link {
  background: none !important;
  border: none;
  padding: 0 !important;
  font-family: inherit;
  font-size: 16px;
  color: #0000ee;
  text-decoration: underline;
  cursor: pointer;
  font-weight: 700;
}

.btn-link:before {
  content: "\A";
  width: 0.625rem;
  height: 0.625rem;
  background-color: #8d5699;
  display: inline-block;
  margin: 0 0.75rem;
  border-radius: 50%;
}

.btn-unline {
  text-decoration: none;
}

/* reset link on loginPage */
.reset {
  margin-top: 7px;
  font-weight: 600;
  text-align: end;
}

/* footer code */
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #8d5699;
  text-align: center;
  height: 2.1875rem;
}

.footer ul {
  margin: 3px;
}

.footer li {
  list-style: none;
}

.footer a {
  color: #fff;
  text-decoration: none;
  font-weight: 800;
  font-size: medium;
}

.footer a:hover,
.footer a:focus {
  color: #ccc;
}

.toUpperCase{
  text-transform: capitalize !important;
}

.btn-flex{
  display: flex;
  justify-content: space-evenly;
}