.media {
  box-shadow: 0px 3px 5px #ccc;
  border-radius: 5px;
  margin-bottom: 15rem;
  min-width: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.media img,
.media video {
  display: block;
}

.media_footer {
  width: 100%;
  min-width: 100%;
  display: flex;
  justify-content: space-between;
  font-weight: 800;
  /* box-shadow: 0px 3px 5px #ccc; */
  padding: 0.25rem 1.3rem;
  /* border-radius: 5px; */
}

.media_footer a:before {
  content: "\A";
  width: 0.625rem;
  height: 0.625rem;
  background-color: #8d5699;
  display: inline-block;
  margin: 0 0.75rem;
  border-radius: 50%;
}

/* Styles for the /report page */
.report {
  display: flex;
  flex-direction: column;
  width: 45rem;
  box-shadow: 0px 3px 5px #ccc;
  border-radius: 5px;
  padding: 0.75rem;
  margin-bottom: 12rem;
}

.report h2 {
  margin-bottom: 0;
}
.report p {
  margin: 0;
}

.report input,
textarea {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 12px;
}

.form-group {
  margin: 1.5rem 0.75rem 0 0.75rem;
}

.form-group label {
  font-weight: 800;
  float: left;
}

.form-group button {
  background-color: #8d5699;
  padding: 0.75rem 1.25rem;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 800;
  margin-top: 0.5rem;
}

.form-group button:hover,
.form-group button:focus {
  border: 1px solid #00695c;
  color: #00695c;
  background-color: white;
}
