.media {
  /* box-shadow: 0px 3px 5px #ccc; */
  /* border-radius: 5px; */
  margin-bottom: 15rem;
  min-width: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.media video {
  max-width: 60rem;
  width: 100%;
}

.media img,
.media video {
  display: block;
}

.media_footer {
  width: 100%;
  min-width: 100%;
  display: flex;
  justify-content: space-between;
  font-weight: 800;
  box-shadow: 0px 3px 5px #ccc;
  padding: 0.25rem 1.3rem;
  border-radius: 5px;
  margin-bottom: 1.5rem;
}

.media_footer:first-child {
  padding-right: 1rem;
}

.media_footer-first {
  display: flex;
}

.media_footer-first:first-child {
  padding-right: 1rem;
}
.media_footer a {
  color: #0000ee;
  font-weight: 700;
}
.media_footer a:before {
  content: "\A";
  width: 0.625rem;
  height: 0.625rem;
  background-color: #8d5699;
  display: inline-block;
  margin: 0 0.75rem;
  border-radius: 50%;
}

.media_copy {
  width: 100%;
  box-shadow: 0px -3px 5px #ccc;
  padding: 0.45rem 1.3rem;
  border-radius: 5px;
  display: flex;
}

.media_copy input {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 6px;
  margin-left: 6px;
  /* text-align: center; */
}

.media_copy .icon {
  padding-right: 5px;
  cursor: pointer;
}

.icon {
  position: relative;
}

.icon .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}

.icon .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

/* .icon:hover .tooltiptext {
  visibility: visible;
} */
.dashboard {
  display: flex;
  flex-direction: row;
  width: 45rem;
  box-shadow: 0px 3px 5px #ccc;
  border-radius: 5px;
  padding: 0.75rem;
  margin-bottom: 12rem;
  justify-content: space-evenly;
}
