<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <main class="content">
                <div class="privacy">
                    <!-- Your data is all yours. And we are not liable or responsible for it. -->
                    <h1>
                        <strong>
                            Terms of Use Agreement
                        </strong>
                    </h1>
                    <h3 style="margin-bottom: 0px;"> Welcome to Streamfidio.</h3>
                    <br>
                    <p>
                        If you access or use Streamfidio, it means you agree to be bound by these terms at all times,
                        and agree that they may be modified without notice. If a term does not make sense to you, please
                        let us know. If you don't agree to all of the terms below, you should not use Streamfidio.
                    </p>
                    <h2>
                        <strong>
                            Privacy Policy
                        </strong>
                    </h2>
                    <p>
                        We do not use or collect any information about you, however if you create an account a single
                        cookie will be stored to keep your videos saved to your browser at all times. We do not sell,
                        trade, or otherwise transfer to outside parties your personally identifiable information.
                    </p>
                    <h2>
                        <strong>
                            Content & Service
                        </strong>
                    </h2>
                    <p>
                        Streamfidio enables you to upload, store and share your videos online with our super fast
                        uploader and easy to use interface. If you have further questions about Streamfidio, feel free
                        to email us.
                    </p>
                    <h2>
                        <strong>
                            Feedback
                        </strong>
                    </h2>
                    <p>
                        We appreciate your feedback! Feedback from users is one of the best ways for our users and us to
                        find out what works, what doesn't, and how we can all improve our services. We are free to use,
                        disclose, reproduce, license, distribute and exploit this feedback as we see fit, without
                        compensation to you or any obligation or restriction because of any intellectual property rights
                        or otherwise.
                    </p>
                    <h2>
                        <strong>
                            Disclaimer
                        </strong>
                    </h2>
                    <p>
                        Although Streamfidio makes every reasonable effort to check that all information made available
                        on this website is accurate, Streamfidio provides this website and it's contents on an "as is"
                        basis. Streamfidio does not guarantee the accuracy or legal compliance of any such information
                        and may not be held liable for any inaccuracies, mistakes or omissions that affect the content
                        of the website.
                    </p>
                    <h2>
                        <strong>
                            Prohibited Behavior
                        </strong>
                    </h2>
                    <p>
                        Interaction with Streamfidio software, hardware, or content in any way other than it's intended
                        use and purpose is absolutely prohibited. You may not attempt to gain access to any area of this
                        website unless you have explicit permission to do so. You may not upload videos that are related
                        to criminal activity, terrorism, adult, or other illegal content. Direct linking (hotlinking) is
                        strictly not allow, the video will be deleted if the user is found to be linking directly. Use
                        the provided link to share the video if needed.
                    </p>
                    <h2>
                        <strong>
                            Warranty
                        </strong>
                    </h2>
                    <p>
                        Your use of this website is at your own risk. Streamfidio assumes no responsibility for any
                        direct or indirect damage you may incur as a result of using this website. Streamfidio reserves
                        the right to remove any content without notice, compensation, or explanation.
                    </p>
                    
                    <p>
                        <i><strong>Please contact us for any abuse or general queries, on the report button of on each
                            video.</strong></i>
                    </p>
                    <br><br>
                    <h1><strong> DMCA </strong></h1>

                    <h3>
                        Digital Millenium Copyright Act Policy (DMCA)
                    </h3>
                    <p>
                        It is my policy to respond to clear notices of alleged copyright infringement. If you believe
                        that your intellectual property rights have been infringed upon by one of my users, I need you
                        to send us a proper notification. All notices should comply with the notification requirements
                        of the DMCA. You MUST provide the following information:
                    </p>
                    <ol>
                        <li> Identify yourself as either:
                            <ul>
                                <li>
                                    The owner of a copyrighted work(s), or
                                </li>
                                <li>
                                    A person “authorized to act on behalf of the owner of an exclusive right that is
                                    allegedly infringed.”
                                </li>
                            </ul>
                        </li>
                        <li> Identify the copyrighted work claimed to have been infringed.</li>
                        <li>
                            3. Identify the material that is claimed to be infringing or to be the subject of the
                            infringing activity and that is to be removed or access to which is to be disabled by
                            providing me the exact location of the infringing file with the exact streamfidio.com link
                        </li>
                        <li>
                            Provide me the web address under which the link has been published.
                        </li>
                        <li>
                            Provide your contact information which includes, your full name, address, and telephone
                            number.
                        </li>
                    </ol>
                    <p>
                        (For more details on the information required for valid notification, see 17 U.S.C. 512(c)(3).)
                    </p>
                    <p>
                        You should be aware that, under the DMCA, claimants who make misrepresentations concerning
                        copyright infringement may be liable for damages incurred as a result of the removal or blocking
                        of the material, court costs, and attorneys fees.
                    </p>
                    <p>
                        A proper notification MUST contain the information above, or it may be IGNORED.
                    </p>
                    <p>
                        <b><i>Report the video to streamfidio</i></b>
                    </p>
                    <p>
                        <i>We will take action in less than 24 hours.</i>
                    </p>
                </div>
            </main>

            <%- include('../includes/end.ejs') %>