<%- include('../includes/head.ejs') %>
</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    <main class="content">
       <div>
           You data is all yours. And we are not liable or responsible for it.
       </div>
    </main>

<%- include('../includes/end.ejs') %>